.iconRow {
    @include absoluteCenter;

  }

  .icons {
    display: flex;
    @include absoluteCenter;
    padding-bottom: $padding-xs;
  }

  .img-fluid {
    float: left;
    /* height: 2.75rem; */
    margin-right: .5rem;
    width: $width-sm;
  }

  .makeStyles-root-1 {
    width: $width-lg;
    max-width: $width-lg;
    margin: $padding-sm;
    float: left;
    overflow: auto;
    height: $height-xxl;
    color: $color-grey-medium-1;
  }

  .makeStyles-media-2 {
    height: $height-0;
    padding-top: 56.25%;
  }

  .MuiButtonBase.root :hover {
    background-color: $color-red;
    /* text-decoration: none; */
  }

  .MuiCardHeader-avatar {
      /* background-color: $color-red; */
      color: $color-grey-light;
  }

  .MuiAvatar-circle {
      background-color: $color-red;
  }

  .MuiPaper-elevation1 {
    box-shadow: 0px 2px 1px -1px rgba(0,25,0,0.2), 0px 1px 1px 0px rgba(0,8,0,0.14), 25px 10px 30px 1px rgba(251,0,0,0.12);
  }

  .MuiPaper-rounded {
    border-radius: 3rem;
  }

  .MuiSvgIcon-root {
    border: none;
  }

  .MuiTypography-body2 {
    color: $color-grey-medium-2;
  }