.navbar {
    background-color: $color-red;
  }
  
  .navbar-brand {
    font-size: $font-size-md;
    // text-transform: uppercase;
  }

  .navbar-light .navbar-brand {
    color: $color-white;
  }

  .nav-link {
    font-size: $font-size-sm;
  }

  .navLinks {
    display: flex; 
    flex-direction: row;
  }