.navbar {
    background-color: var(--color-red);
  }
  
  .navbar-brand {
    font-size: var(--font-size-md);
    // text-transform: uppercase;
  }

  .navbar-light .navbar-brand {
    color: var(--color-white);
  }

  .nav-link {
    font-size: var(--font-size-sm);
  }

  .navLinks {
    display: flex; 
    flex-direction: row;
  }