.footer {
    background: var(--color-red);
    bottom: 0;
    color: var(--color-white);
    height: var(--height-sm);
    left: 0;
    padding: var(--padding-xxs);
    position: fixed;
    text-align: center;
    width: 100%;
  }