/* content styling */
body {
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
    background-color: #383838;
    /* background-size: cover; */
  }
  
  /* img {
    padding: 5px;
  } */
  
  label {
    color: #fff;
  }
  
  p {
    color: #fff;
  }
  
  /* div styling */
  #footer {
    background: #900;
    bottom: 0;
    color: #fff;
    height: 60px;
    left: 0;
    padding:20px;
    position: fixed;
    text-align: center;
    width: 100%;
  }
  
  #pic {
    float: left;
    height: 450px;
    margin-right: 15px;
    width: 300px;
  }
  
  /* class styling */
  .blockquote {
    background: #f7caca;
    height: 115px;
    text-align: center;
  }
  
  .blockquote-footer {
    background: #e9ecef;
    height: 30px;
  }
  
  .btn {
    background-color: #900;
  }
  
  .card-columns {
    display: inline-block;
    /* height: 550px; */
  }
  
  .card-img-top {
      height: 200px;
  }
  
  .card-text {
    padding: 10px;
  }
  
  .card-footer {
  
  }
  
  .contact {
    margin-left: 150px;
  }
  
  .conactCard {
    background-color: #900;
    text-align: center;
    width: 250px;
  }
  
  .iconRow {
    align-content: center;
    position:relative;
  }
  
  .img-fluid {
    float: left;
    height: 275px;
    margin-right: 15px;
    width: 300px;
  }
  
  .jumbotron {
    height: 150px;
    padding-top: 70px;
  }
  
  .navbar {
    background-color: #900;
  }
  
  .navbar-brand {
    font-size: 40px;
  }

  .nav-link {
    font-size: 25px;
  }
  
  .quote {
    margin-bottom: 100px;
  }
  
  .quotetext {
    color: #000;
  }
  
  .profile_data {
    color: #fff;
    float: left;
    left: 350px;
    padding: 55px 30px 0px 30px;
    position: absolute;
  }
  
  .projectCard {
    background-color: #900;
    color: #fff;
    height: 525px;
    margin: 10px;
    /* padding: 5px; */
    text-align: center;
    /* width: 30%; */
  }
  
  .projectCardRow {
    margin: 20;
    align-items: center;
  }
  
  .row {
    padding: 30px;
  }
  
  .webApps {
    color: #fff;
    text-align: center;
  }
  
  
  /* Link Styling */
  /* unvisited link */
  a:link {
      color: #eee;
  }
  
  /* visited link */
  a:visited {
      color: #666;
  }
  
  /* mouse over link */
  a:hover {
      color: #e9ecef;
  }
  
  /* selected link */
  a:active {
      color: #666666;
  }
  