body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: var(--font-weight-default);
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
    color: var(--color-white);
    
}

label {
    color: var(--color-white);
  }
  
p {
  color: var(--color-white);
}

.display-3 {
  font-size: var(--font-size-lg);
}