body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: $font-weight-default;
    font-size: $font-size-default;
    line-height: $line-height-default;
    color: $color-white;
    
}

label {
    color: $color-white;
  }
  
p {
  color: $color-white;
}

.display-3 {
  font-size: $font-size-lg;
}