/* content styling */
body {
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
    background-color: #383838;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-size: cover; */
  }
  
  label {
    color: #fff;
  }
  
  p {
    color: #fff;
  }
  
  /* div styling */
  #pic {
    float: left;
    height: 450px;
    margin-right: 15px;
    width: 300px;
  }
  
  /* class styling */
  .container {
    align-items: center;
    display: inline;
  }

  .footer {
    background: #900;
    bottom: 0;
    color: #fff;
    height: 60px;
    left: 0;
    padding:20px;
    position: fixed;
    text-align: center;
    width: 100%;
  }

  .iconRow {
    align-content: center;
    position:relative;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
  }
  
  .img-fluid {
    float: left;
    height: 275px;
    margin-right: 15px;
    width: 300px;
  }
  
  .jumbotron {
    height: 120px;
    padding-top: 0;
  }

  .makeStyles-root-1 {
    width: 450px;
    max-width: 400px;
    margin: 50px;
    float: left;
    overflow: auto
  }

  .makeStyles-media-2 {
    height: 0;
    padding-top: 56.25%;
  }

  .MuiButtonBase.root.&:hover {
        background-color: #900;
        text-decoration: none;
  }

  .MuiPaper-rounded {
    border-radius: 25px;
  }

  .MuiSvgIcon-root {
    border: none;
  }

  .MuiTypography-body2 {
    color: #7f7f7f;
  }

  .navbar {
    background-color: #900;
    height: 125px;
  }
  
  .navbar-brand {
    font-size: 40px;
  }

  .navbar-light .navbar-brand {
    color: #fff;
  }

  .nav-link {
    font-size: 25px;
  }

  .navLinks {
    display: flex; 
    flex-direction: row;
  }
  
  .profile_data {
    color: #fff;
    float: left;
    left: 350px;
    padding: 55px 30px 0px 30px;
    position: absolute;
  }
  
  .row {
    padding: 30px;
  }
 
  /* Link Styling */
  /* unvisited link */
  a:link {
      color: #eee;
  }
  
  /* visited link */
  a:visited {
      color: #666;
  }
  
  /* mouse over link */
  a:hover {
      color: #e9ecef;
  }
  
  /* selected link */
  a:active {
      color: #666666;
  }
  