/* reset */
*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* content styling */
html {
  /* //This defines what 1rem is */
  font-size: 100%;
}

body {
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
    background-color: #383838;    
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
  }
  
  label {
    color: #fff;
  }
  
  p {
    color: #fff;
  }
  
  /* div styling */
  #pic {
    float: left;
    /* height: 45rem; */
    margin-right: 1.5rem;
    width: 10rem;
  }
  
  /* class styling */
  .container {
    align-items: center;
    display: block;
    margin: 0 3rem;
    max-width: 100rem;
    width: 169rem;
  }

  .footer {
    background: #900;
    bottom: 0;
    color: #fff;
    height: 4rem;
    left: 0;
    padding: 1rem;
    position: fixed;
    text-align: center;
    width: 100%;
  }

  .iconRow {
    align-content: center;
    position:relative;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
  }
  
  .img-fluid {
    float: left;
    /* height: 2.75rem; */
    margin-right: .5rem;
    width: 15rem;
  }
  
  .jumbotron {
    height: 6rem;
    padding-top: 0;
  }

  .makeStyles-root-1 {
    width: 30rem;
    max-width: 25rem;
    margin: 3rem;
    float: left;
    overflow: auto;
  }

  .makeStyles-media-2 {
    height: 0;
    padding-top: 56.25%;
  }

  .MuiButtonBase.root.&:hover {
    background-color: #900;
    text-decoration: none;
  }

  .MuiCardHeader-avatar {
    /* background-color: #900; */
    color: #eee;
  }

  .MuiAvatar-circle {
        background-color: #900;

  }

  .MuiPaper-rounded {
    border-radius: 2.5rem;
  }

  .MuiSvgIcon-root {
    border: none;
  }

  .MuiTypography-body2 {
    color: #7f7f7f;
  }

  .navbar {
    background-color: #900;
    height: 6.5rem;
  }
  
  .navbar-brand {
    font-size: 3rem;
  }

  .navbar-light .navbar-brand {
    color: #fff;
  }

  .nav-link {
    font-size: 2rem;
  }

  .navLinks {
    display: flex; 
    flex-direction: row;
  }
  
  .profile_data {
    color: #fff;
    float: left;
    left: 35rem;
    padding: 5.5rem 3rem 0px 3rem;
    position: absolute;
  }
  
  .row {
    padding: 1.5rem;
  }
 
  /* Link Styling */
  /* unvisited link */
  a:link {
      color: #eee;
  }
  
  /* visited link */
  a:visited {
      color: #666;
  }
  
  /* mouse over link */
  a:hover {
      color: #e9ecef;
  }
  
  /* selected link */
  a:active {
      color: #666666;
  }
  